// Mozilla webfonts

@font-face {
    font-family: 'ZillaSlab';
    font-weight: normal;
    font-style: normal;
    src: url('/infosec/assets/fonts/ttf/ZillaSlab-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'ZillaSlab';
    font-weight: bold;
    font-style: normal;
    src: url('/infosec/assets/fonts/ttf/ZillaSlab-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'ZillaSlab';
    font-weight: normal;
    font-style: italic;
    src: url('/infosec/assets/fonts/ttf/ZillaSlab-RegularItalic.ttf') format('ttf');
}

@font-face {
    font-family: 'ZillaSlab';
    font-weight: bold;
    font-style: italic;
    src: url('/infosec/assets/fonts/ttf/ZillaSlab-BoldItalic.ttf') format('ttf');
}

